{% extends "base.html" %}

{% block content %}

<h1>Login</h1>

{% if form.errors %}
<p class="bg-danger">Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
<div class="form-group">
{% csrf_token %}


  <div class="form-group">
    <label for="exampleInputEmail1">{{ form.username.label_tag }}</label>
	{{ form.username }}
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">{{ form.password.label_tag }}</label>
	{{ form.password }}
  </div>

<input type="submit" class="btn btn-default" value="Login" />
<input type="hidden" name="next" value="{{ next }}" />
</div>
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>

{% endblock %}