{% extends "base.html" %}
{% load i18n %}

{% block content %}

<h1>Password reset</h1>

<form method="post" action=".">
{% csrf_token %}
	<div class="form-group">
	  {{ form.as_p }}

	  <input type="submit" class="btn btn-default" value="{% trans 'Submit' %}" />
	</div>  
</form>
{% endblock %}
