
#errModal .modal-header {

    background-color: #FF8080;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
 }

.modal-body div.entry {
    padding: 10px;
}

.modal-body div.postedBy {
    text-align: right;
    font-size: 8pt;
}
 
 
input[type=checkbox] {
    display: none;
    position:absolute;
    top: -9999px;
    left: -9999px;
}

td label {
        margin-bottom: 0px;
        display: block;
}

th,td
{
	margin: 0;
	text-align: center;
	border-collapse: collapse;
	vertical-align: middle !important;
	padding: 6px !important;
      -webkit-transition: all 0.1s ease-in-out;
      -moz-transition: all 0.1s ease-in-out;
      -o-transition: all 0.1s ease-in-out;
      transition: all 0.1s ease-in-out;
}

input.btn.btn-primary.btn-lg {
    transition: all 0.2s ease-in-out;
}

th
{
	background: #666;
	color: white;
}

td p {
	margin: 0 0 0;
	
}

td.assigned.tome {
    background-color: #E6E6FA;
}

td.assigned {
    background-color: #FFEBCC;
}

td.permanent {
	background-color: #FFE6E6;
}

td.available {
	background-color: #EBFFD6;
}

td.available:hover,
td.assigned.tome:hover
{
	cursor: pointer;
	background: #D0D0D0;
	/*color: white;*/
}

footer p {
	margin: 10px;
	text-align: right;
}


html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  /*height: 60px;*/
  background-color: #f5f5f5;
}


.jumbotron input[type="checkbox"] {
    top: 0px;
    left: 0px;
    position: relative;
    display: inherit;
}

p.form-control-static {
    font-size: inherit;
}

.jumbotron p.form-control-static {
    margin: inherit;
}