{% extends "base.html" %}

{% block content %}


<div class="jumbotron">
	<h1>Error</h1>
	<div class="alert alert-danger" role="alert">
	
	<p>{{ error }}</p>
	</div>
</div>	

<p><a href="/">Back to main page</a></p>

{% endblock %}