{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
<h2>Complete your information:</h2>

	<form method="post" action="{% url 'phone_form' %}">
		<div class="form-group">
		{% csrf_token %}


		  <div class="form-group">
			<p><label for="exampleInputEmail1">Phone number:</label>
			{{ form.phone }}</p>
		  </div>

		<input type="submit" class="btn btn-primary btn-lg" value="Save" />
		<!--<input type="hidden" name="next" value="{{ next }}" />-->
		</div>
	</form>
</div>
{% endblock %}