{% extends 'base.html' %}

{% block head %}
    <script>
            var IS_AUTH = {{user.is_authenticated|lower}};
            var MAX_SLOTS = {{max_slots}};
    </script>
    <script src="/static/js/sched.js"></script>
{% endblock %}	

{% block nav %}
       <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Other Schedules<span class="caret"></span></a> 
          <ul class="dropdown-menu">
			{% for sched in all_schedules %}
				<li><a href="{% url 'schedz:detail' sched.slug %}">{{sched.name}}</a></li>
			{% endfor %}
            <!--<li role="separator" class="divider"></li>-->
          </ul>
        </li>
	{% if not user.is_authenticated %}
	<a type="button" class="btn btn-default navbar-btn navbar-right" href="{% url 'social:begin' 'google-oauth2' %}">Login</a>
	{% else %}
		{% if announcements %}
			<li><a href="#" data-toggle="modal" data-target="#announcementsModal">Announcements <span class="badge">{{announcements|length}}</span></a></li>
	    {% endif %}
	    <a type="button" class="btn btn-default navbar-btn navbar-right" href="{% url 'logout' %}?next=/">Logout</a>
	{% endif %}
{% endblock %}	

{% block content %}
	
	<div class="modal fade"  id="errModal">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Error</h4>
				</div>
				<div class="modal-body">
					Please select no more than {{max_slots}} slots in a single week.
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	{% if user.is_authenticated and announcements %}
	<div class="modal fade" id="announcementsModal" tabindex="-1" role="dialog" aria-labelledby="announcementsModal">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="announcementsModal">Announcements</h4>
		  </div>
		  <div class="modal-body">
			{% for announcement in announcements %}
			  <div class="entry">
				<div class="message">{{ announcement.message }}</div>
				<div class="postedBy">Posted by: <a href="{% url 'schedz:user' announcement.posted_by.id %}">
					{{ announcement.posted_by.first_name }} {{ announcement.posted_by.last_name }}</a>
				</div>
			  </div>
			{% endfor %}
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		  </div>
		</div>
	  </div>
	</div>
	{% endif %}

	<h2><b>{{schedule.name}}</b> schedule for the week of {{human_week_date}}</h2>
	
	{% if not user.is_authenticated %}
	<p>Please <a href="{% url 'social:begin' 'google-oauth2' %}">login using Google</a> (BGU Mail) to apply for time slots.</p>
	{% else %}
	<p>Logged in as: <a href="{% url 'schedz:user' user.id %}">{{ user.first_name }} {{ user.last_name }}</a>, {{ user.email }}</p>
	{% endif %}
	
	 <nav>
	  <ul class="pager">
		<li class="previous"><a href="{% url 'schedz:detail' schedule.slug prev_week %}"><span aria-hidden="true">&larr;</span> Previous week</a></li>
		<li class="next"><a href="{% url 'schedz:detail' schedule.slug next_week %}">Next week <span aria-hidden="true">&rarr;</span></a></li>
	  </ul>
	</nav>
	
	{% if saved %}
	<div class="alert alert-success" role="alert">Changes saved.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
	{% endif %}
	
	<form action="{% url 'schedz:rsvp' schedule.slug week_date %}" method="post">
	{% csrf_token %}
	
    <table class="table table-bordered">
		<tr>
			<th>\</th>
		{% for day in week_days_name %}
			<th>{{day }}</th>
		{% endfor %}
		</tr>
	{% for row in sched %}
		<tr>
			<th>{{forloop.counter|add:"-1"|stringformat:"02d:00"}}</th>
		{% for slot in row %}
            {% with curr_row=forloop.parentloop.counter|add:"-1" curr_column=forloop.counter|add:"-1" %}
			    {% if slot.is_permanent %}
				    <td class="permanent" id="{{curr_row}},{{curr_column}}">
					    <p>{{ slot.description }}</p>
				    </td>
			    {% elif slot.assigned_user %}
				    <td class="assigned{% if user == slot.assigned_user %}{{" tome"}}{% endif %}" id="{{curr_row}},{{curr_column}}">
				      <p>
					    {% if user.is_authenticated %}
                          <a href="{% url 'schedz:user' slot.assigned_user.id %}">
                        {% endif %}
                          {{ slot.assigned_user.first_name }} {{ slot.assigned_user.last_name }}</a>
				      </p>
						{% if user == slot.assigned_user %}
						    <label id="{{curr_row}},{{curr_column}}">
						        <input type="checkbox" name="delslot:{{curr_row}},{{curr_column}}" id="{{curr_row}},{{curr_column}}" value="True">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						    </label>
						{% endif %}
				    </td>
			    {% else %} <!-- available slot -->
					{% if user.is_authenticated %}
						<td class="available"  id="{{curr_row}},{{curr_column}}">
							<label id="{{curr_row}},{{curr_column}}">
							  <input type="checkbox" name="reqslot:{{curr_row}},{{curr_column}}" id="{{curr_row}},{{curr_column}}" value="True">
								<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
							</label>
						</td>
					{% else %}
						<td>
						</td>
					{% endif %}
			    {% endif %}
            {% endwith %}
		{% endfor %}
		</tr>
	{% endfor %}	
    </table>
	
	<div class="container">
	{% if user.is_authenticated %}
	<input type="submit" class="btn btn-primary btn-lg" value="Save Changes" />
	{% endif %}
	</div>
	
	</form>
	


	
{% endblock %}	