{% extends 'base.html' %}

{% block content %}

{% if saved %}
<div class="alert alert-success" role="alert">Changes saved.
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
{% endif %}

<div class="jumbotron">
	<h1>{{ user.first_name }} {{ user.last_name }}</h1>
	
	<!--<p>Name: {{ user.first_name }} {{ user.last_name }}</p>-->

	<p>Phone: {{user.scheduser.phone_number}}</p>
	<p>Email: <a href="mailto:{{user.email}}">{{user.email}}</a></p>
	
	{% if user == request.user %}
	<p>Schedule Google Calendar events (experimental): {% if user.scheduser.auto_schedule %}Yes{% else %}No{% endif %}</p>

	<p>
		<a class="btn btn-default" href="{% url 'schedz:edit_user' user.id %}" role="button">Edit Profile</a>
	</p>
	
	<br/>
	{% endif %}
	
	<p class="lastSlots">
		<p>Latest slots:</p>
		{% if last_slots %}
			{% for slot in last_slots %}
				<li>{{ slot }}</li>
			{% endfor %}
		{% else %}
			<p>None.</p>
		{% endif %}
	</p>
	

</div>

<p><a href="/">Back to main page</a></p>
	
{% endblock %}	