{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
	<h1>{{ user.first_name }} {{ user.last_name }}</h1>

	<br/>
	
	{{ form.non_field_errors }}
	{{ form.phone.errors }}
	
	<form class="form-horizontal" action="{% url 'schedz:edit_user_save' user.id %}" method="post">
	{% csrf_token %}
	  <div class="form-group">
		<label class="col-sm-2 control-label">Email</label>
		<div class="col-sm-10">
		  <p class="form-control-static">{{user.email}}</p>
		</div>
	  </div>
	  
	  <div class="form-group">
		<label for="inputPhone" class="col-sm-2 control-label">Phone</label>
		<div class="col-sm-10">
			{{ form.phone }}
		  <!--<input type="phone" class="form-control" id="phone" value="{{user.scheduser.phone_number}}">-->
		</div>
	  </div>
	  
	  <div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
		  <div class="checkbox">
			<label>
				{{ form.auto_sched }}
			  Automatically Schedule Google Calendar events (experimental)
			</label>
		  </div>
		</div>
	  </div>
	  <div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
		  <button type="submit" class="btn btn-default">Save Changes</button>
		</div>
	  </div>
	</form>
</div>

<p><a href="/">Back to main page</a></p>
	
{% endblock %}	